/* In an example.css file */
@media screen and (min-width: 768px){
  /* styles for this breakpoint go here */
  /*? breakpoint: point at which a website responds to a media query and applies its styles  */
}

/*TODO: Media Types */
/* can target media queries by media type or media feature */

/*? Three distinct types: */
/* 
* - "All" refers to all devices which is the default of a media query when the type is not provided
* - "print" applies to layout of document when a person intends to print it
* - "screen" applies to layout of document when a browser displays it
* - "speech" refers to when a screen readeer reads the content
*/
html{
  font-family: "Roboto", "Arial", sans-serif;
}

@media print{
  html{
    font-size: 12pt;
  }
}
@media screen{
  html{
    font-size: 14px;
  }
}

/*TODO: Media Features  */
/*? Media features = characteristics of a browser, other output device, or rendering environment  */
/*! Media queries: min is inclusive and max is also inclusive  */
/* 
     _________________________________________________________________________________
    |     Feature       |       Applies to            |     Subfeature prefixes      |
    |___________________|_____________________________|______________________________|
    |  aspect ratio     | The ratio of width to       |       max- and min-          | 
    |                   | height of viewport          |                              |
    |___________________|_____________________________|______________________________|
    |      height       | the height of the viewport  |       max- and min-          |
    |___________________|_____________________________|______________________________|
    |     orientation   | If width is larger than     |                              |
    |                   |  height or vice versa       |                              |
    |___________________|_____________________________|______________________________|
    |       width       | The width of the viewport   |       max- and min-          |
    |___________________|_____________________________|______________________________|                       
*/

body{
  font-size: 14px;
  display: flex;
}

@media(min-width: 1600px){
  body{
    font-size: 18px;
  }
}

@media(max-width: 360px){
  body{
    font-size: 10px;
  }
}

@media(orientation: landscape){
  body{
    flex-direction: row;
  }
}

@media (orientation: portrait){
  body{
    flex-direction: column;
  }
}

/*TODO: Combinining queries with logical operators  */
/* CSS uses actual word "and" and "," not && or || */
/* AND */
html{
  background-color: white;
  color: #333333;
}

@media(min-width: 301px) and (max-width: 600px){
  html{
    background-color: #333333;
    color: white;
  }
}

/* OR */
html{
  background-color: #333333;
  color: white;
}

@media (max-width: 300px), (min-width: 601px){
  html{
    background-color: white;
    color: #333333;
  }
}

/* NOT */
/* @media not(all and monochrome)){
  body{
    background-color: magenta;
  }
} */
