/*?  Example 1 of Transitions */
#delay {
	font-size: 14px;
	transition-property: font-size;
	transition-duration: 4s;
	transition-delay: 2s;
}

#delay:hover {
	font-size: 36px;
}

/*?  Example 2 of Transitions */
.box {
	border-style: solid;
	border-width: 1px;
	display: block;
	width: 100px;
	height: 100px;
	background-color: #0000ff;
	transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
	background-color: #ffcccc;
	width: 200px;
	height: 200px;
	transform: rotate(180deg);
}

/* TODO: Why Pixel-perfect? */
/*? Wireframes  */
/* == Common method used by designers to produce product specifications for developers */
/* - Usually contain drawings of layout of every important page in the site or app, color 
    and font selections, a navigation map, descriptions of how interacts should behave
    and anything else needed to define how the site or app should look, feel, and operate */

/*? Low fidelity vs high fidelity */
/** Low Fidelity: 
* === Low truth or accurac; provides a minimal guidance to the developer and often allow
* greater degree for developer to interpret th design
*/

/** High Fidelity: 
* === Designer might use tools such as Figma to produce a prototype that looks almost
* exactly like the final product
*/

/*? Why pixel perfect? */
/* 
* This approach is usually reserved for critical pages of sites or apps with tens of 
* millions of users. It make sense to create, iterate on, and produce pixel-perfect
* wireframes for the main pages of Twitter, Facebook, or Google products
*
* - Any text that is cut off, even by a pixel
* - Lack of symmetry in space or padding above and below a horizontal rule
* - Lack of symmetry in space or padding on the left and right side of elements
* - Grids with different spacing horizontally and vertically
* - Drop-shadows that are too big, too small, cut off, or covered by another element
*/

/*? Which is best */
/* 
* Ask about work style and relationship between designers and developer at any company
* you interview for
*/

/* TODO: CSS Frameworks */
/*? What is a CSS framework? */
/* 
* === prebuilt libraries that includes styling for various UI elements
*
* - Opionated frameworks comes w/ more features and functionality at the expense
*   of flexibility
*         • Bootstrap
* - Downside is that your website will look and feel like every other site using Bootstrap
*
* Examples:
* -> Bootstrap
* -> Pure CSS
* -> Material UI
* -> Tailwind
*/
