.body{
  height: 1000px;
  display: flex;
}

.main-container{
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
}

.main-item{
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

/* .one{
  order: 2;
}

.two{
  order: 1;
}

.three{
  order: 7;
}

.four{
  order: 4;
}

.five{
  order: 5;
}

.six{
  order: 6;
}

.seven{
  order: 3;
}

.eight{
  order: 8;
}

.nine{
  order: 9;
}

.ten{
  order: 10;
} */
